* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
		font-size: 20px;
    color:white;
    overflow-x:hidden;
    background-color:black;
}

.thecontainer {
		background-image:url('../images/background1.jpeg');
    background-repeat: no-repeat;
    width: 100%;
}

.content-footer {
    padding: 3%;
    margin-top: 40px;
    background-color:#101010;
		color:white;
}

.foto-logo {
    width:150px;
    height: 150px;
}

.kol2 {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.kol2 a {
    text-align: left;
    color:white;
}

.kol2 a:hover {
    text-decoration: none;
    color:grey;
}

.btn-lg {
    border:none;
    background: black;
}

.btn-lg:hover {
    border: 1px solid white;
    background: grey;
}

.send {
    width: 20%;
    height: auto;
    background-color:#101010;
    color:white;
}

.nav-part {
	display:flex;
	justify-content: space-around;
	z-index: 2;
	align-items: center;
	width:100%;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	background-color:rgba(0,0,0,1);
}

.nav-part a {
	text-decoration: none;
	color:rgb(235, 231, 231);
}

.nav-part p {
    padding-left:60px;
}

.nav-links {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height:auto;
	overflow: hidden;
	text-align: center;
}

.nav-links li {
	width:20%;
	height:auto;
}

.nav-links a {
	letter-spacing: 3px;
}

.mobile-menu {
	display: none;
}

.mobile-menu div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 120%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		width: 60%;
		height: 92vh;
		top: 8vh;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index:1;
	}
	.nav-links li {
		opacity: 0;
	}
	.mobile-menu {
		display: block;
		cursor: pointer;
		z-index:2;
	}
    div.mobile-col {
			width: 33%;
    }
		.login {
			margin-left: 0%;
		}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (max-width: 576px) {
	body {
		overflow-x: hidden;
	}
	div.mobile-col {
		width: 50%;
		font-size: 85%;
	}
	div.mobile-col{
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding:20px;
	}
    .kol2 {
        border: none;
    }
}

.main{
 	margin-top: 70px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 17px;
}

label{
	margin-bottom: 14px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
}

.main-login{
    z-index: 0;
 		background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
    z-index: 0;
 	margin-top: 20px;
 	margin: 0 auto;
 	max-width: 200%;
    padding: 40px 40px;
}

.login-button{
	margin-top: 20px;
}

.login-register{
	font-size: 8px;
	text-align: center;
}

.error {
    color:red;
}
